@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@300;600&display=swap');

body {
    margin: 0;
    font-family: "Vazirmatn", sans-serif;
    background: linear-gradient(135deg, #000428, #004e92);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.8s;
    opacity: 0;
}

body.loaded {
    opacity: 1;
}

.container, .login-box {
    background: rgba(255, 255, 255, 0.12);
    padding: 40px;
    border-radius: 18px;
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 25px rgba(255,255,255,0.2);
    text-align: center;
    color: white;
    width: 350px;
}

h1, h2 {
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    background: #00d4ff;
    padding: 12px 30px;
    border-radius: 10px;
    color: #000;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 20px;
}

.btn:hover {
    background: #fff;
    transform: scale(1.05);
}

input {
    width: 90%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 8px;
    border: none;
    outline: none;
}

.back {
    display: block;
    color: #fff;
    margin-top: 20px;
    opacity: 0.8;
    text-decoration: none;
}

.back:hover {
    opacity: 1;
}

